{% extends 'catalog/home.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить блог "{{ blog.title }}" ?</p>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                        <button type="submit" href="{% url 'blog:blog_list' %}" class="btn btn-primary">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
