{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Блог</h1>
            <p class="lead"></p>
            <a class="btn btn-secondary my-2" href="{% url 'blog:create' %}">Создать новый блог</a>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for blog in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="{{ blog.image | media_filter }}"  width="200" height="100">
                            <p class="card-text">{{ blog.title | title }}</p>
                            <p class="card-text">Содержимое: {{ blog.body | title }}</p>
                            <p class="card-text">Дата создания: {{ blog.created_at }}</p>
                            <p class="card-text">Активно: {{ blog.is_active }}</p>
                            <p class="card-text">Количество просмотров: {{ blog.views_count }}</p>

                            <div class="align-content: space-between">
                                <div class="btn">
                                    <a class="btn btn-success" href="{% url 'blog:view' blog.pk %}" role="button">Посмотреть</a>
                                    <a class="btn btn-danger" href="{% url 'blog:delete' blog.pk %}" role="button">Удалить</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}