{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">"{{ object.title }}" ({{ object.slug }})</h4>
            </div>
            <img src="{{ object.image | media_filter }}">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li> Содержимое - {{ object.body }}</li>
                    <li> Дата создания: {{ object.created_at }}</li>
                    <li> Активно: {{ object.is_active }}</li>
                    <li> Количество просмотров: {{ object.views_count }}</li>
                </ul>
                <a class="btn btn-warning" href="{% url 'blog:edit' blog.pk %}" role="button">Изменить</a>
                <a class="btn btn-danger" href="{% url 'blog:delete' blog.pk %}" role="button">Удалить</a>
                <a class="btn btn-secondary" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
                <a class="btn btn-success" href="{% url 'blog:toggle_active' blog.pk %}" role="button">
                    {{ object.is_active|yesno:"Деактивировать,Активировать" }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}