{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<a class="btn btn-secondary my-2" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <p class="=card-text">{{ product_name }}</p>
                <h4 class="my-0 font-weight-normal">{{ product.product_name }}</h4>
            </div>
            <img src="{{ product.product_picture | media_filter }}">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li> Стоимость - {{ product.price }}</li>
                    <li> Описание: {{ product.product_description | slice:100 }}</li>
                </ul>
                <a class="btn btn-secondary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробнее</a>
                <a class="btn btn-primary" role="button">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}