{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
            </div>
            <img src="{{ object.product_picture | media_filter }}">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li> Стоимость - {{ object.price }}</li>
                    <li> Описание: {{ object.product_description | slice:100 }}</li>
                </ul>
                {% if perms.catalog.can_edit_product_description and perms.catalog.can_edit_category and perms.catalog.can_edit_is_published or user == product.owner %}
                <a class="btn btn-warning" href="{% url 'catalog:product_update' product.pk %}"
                   role="button">Изменить</a>
                {% endif %}
                <a class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                <a class="btn btn-secondary" href="{% url 'catalog:product_list' %}" role="button">Назад</a>
                <a class="btn btn-primary" role="button">Купить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}