{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                        <a class="btn btn-secondary" href="{% url 'catalog:product_list' %}" class="btn btn-primary">Отмена<a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
